body {
    background-color: black
}



.jon {
    margin-left: 25px;
    margin-top: 100px;

    
}

#navi ul{
    margin-bottom: 200px;
}

@import url('https://fonts.googleapis.com/css?family=Asap|EB+Garamond');


b1 {
    font-family: 'EB Garamond', serif;
    font-size: 32px;
    color: white;
    padding-right: 1150px;
    float: right;
    padding-top: 23px;
}

.projects {
    color: white;
    font-family: 'EB Garamond', serif;

}

.personalwork {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 32px;
    padding-right: 1070px;
    padding-top: 33px;
    float: right
    
}

.aboutme {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 32px;
    padding-right: 1130px;
    padding-top: 33px;
    float: right
}

